<%= form_for(@user,:url => { :action => @action }, :html => {:autocomplete => "off"}) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>  
<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email, :type => "email", :placeholder => "ex. boss@toast.com" %>
</div>
<% if @user.password.nil? %>
<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<% end %>
<div class="field">
  <%= f.label :address %>
  <%= f.text_field :address, :placeholder => "ex. 123 main st." %>
</div>
<div class="field">
  <%= f.label :city %>
  <%= f.text_field :city, :placeholder => "ex. Boston" %>
</div>
<div class="field">
  <%= f.label :state %>
  <%= f.text_field :state, :placeholder => "MA", :size => 2, :maxlength => 2 %>
</div>
<div class="field">
  <%= f.label :zip %>
  <%= f.text_field :zip, :placeholder => "ex. 12345", :size => 5, :maxlength => 5  %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
