<%=	content_for(:head) { javascript_include_tag("users") } %>
<%=	content_for(:head) { stylesheet_link_tag("users") } %>
<%= render :partial => "layouts/topbar" %>
<div id="content" class="content main">
	<% if @albums.size > 0 %>
	<div id="album-list" class="list albumlist">
		<% @albums.each do |a| %>
		<a href="/album/<%= a.token %>"><%= render :partial => "albums/"+a.cover+"-album" %>
			<span class="album-name"><%= a.name %></span>
			<span class="album-date"><%= a.created_at.strftime("%m/%Y")  %></span>
		</a>
		<% end %>
	</div>
	<% else %>
	<p>You have not created any albums.</p>

	<% end %>
	<p><%= link_to "Download our application and start creating albums!", "#" %></p>

</div>