<% head_assets 'albums' %>
<%= render :partial => "layouts/topbar" %>
<h1>Create a new Album</h1>

<%= form_for(@album,:url => { :action => "create" }) do |f| %>
<% if @album.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@album.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @album.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.text_field :name, :placeholder => :name.capitalize %>
</div>  
<div class="field">
  <%= f.text_area :description, :placeholder => :description.capitalize %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
