<%=	content_for(:head) { stylesheet_link_tag "leaflet" } %>
<%= content_for(:head) { javascript_include_tag "leaflet" } %>
<%= content_for(:head) { javascript_include_tag "leaflet-rotate" } %>
<%= content_for(:head) { javascript_include_tag "wax.leaf.min" } %>
<%= render :partial => "layouts/topbar" %>
<%=	content_for(:head) { javascript_include_tag("albums") } %>
<%=	content_for(:head) { stylesheet_link_tag("albums") } %>
<div id="content-box" class="content-box">
	<div id="map-box" class="map-box">
		
	</div>
	<div id="viewer-box" class="viewer-box">
<!-- 		<video id="video"></video>
		<div id="photo"></div>
		<audio id="audio"></audio>
		<div id="note"></div>
 -->	</div>
</div>
<div id="media-gallery">
	<% @captures = @album.captures %>
	<% if @captures.nil? %>
		<div id="album-preview" class="album-preview">You haven't uploaded any pictures or video yet?? WTF...</div>
	<% else %>
		<% count = 0 %>
		<% @captures.each do |a| %>
			<div id="capture-preview-<%= a.token %>" class="capture-preview <%= a.media_type %>" data-token="<%= a.token %>" data-type="<%= a.media_type %>" data-index="<%= count %>">
				<img src="http://s3.amazonaws.com/<%= ENV['AMAZON_TOAST_BUCKET'] %>/<%= a.token %>/<%= a.token %>-thumb.jpg" alt="Thumbnail" />
			</div>
			<% count+=1 %>
		<% end %>
	<% end %>
</div>
<div id="album-token"><%= @album.token %></div>