<%=	content_for(:head) { stylesheet_link_tag "leaflet" } %>
<%=	content_for(:head) { stylesheet_link_tag "MarkerCluster" } %>
<%=	content_for(:head) { stylesheet_link_tag "MarkerCluster.Default" } %>
<%= content_for(:head) { javascript_include_tag "leaflet-src" } %>
<%= content_for(:head) { javascript_include_tag 'http://maps.stamen.com/js/tile.stamen.js' } %>
<%= content_for(:head) { javascript_include_tag "leaflet-rotate" } %>
<%= content_for(:head) { javascript_include_tag "wax.leaf.min" } %>

<%= content_for(:head) { javascript_include_tag "MarkerCluster.Default" } %>
<%= content_for(:head) { javascript_include_tag "MarkerClusterGroup" } %>
<%= content_for(:head) { javascript_include_tag "MarkerCluster" } %>
<%= content_for(:head) { javascript_include_tag "MarkerCluster.QuickHull" } %>
<%= content_for(:head) { javascript_include_tag "MarkerCluster.Spiderfier" } %>

<%= render :partial => "layouts/topbar" %>
<%=	content_for(:head) { javascript_include_tag("album.show") } %>
<%=	content_for(:head) { stylesheet_link_tag("albums") } %>
<div id="content-box" class="content-box">
	<div id="map-box" class="map-box">
		
	</div>
	<div id="viewer-box" class="viewer-box"></div>
</div>
<div id="media-gallery">
	<% @captures = @album.captures %>
	<% if @captures.nil? %>
		<div id="album-preview" class="album-preview">You haven't uploaded any pictures or video yet?? WTF...</div>
	<% else %>
		<% count = 0 %>
		<% @captures.each do |a| %>
			<div id="capture-preview-<%= a.token %>" class="capture-preview <%= a.media_type %> <%= a.orientation%>" data-token="<%= a.token %>" data-type="<%= a.media_type %>" data-index="<%= count %>">
				<img src="http://s3.amazonaws.com/<%= AMAZON_TOAST_BUCKET %>/<%= a.token %>/<%= a.token %>-thumb.jpg" alt="Thumbnail" />
			</div>
			<% count+=1 %>
		<% end %>
	<% end %>
</div>
<div id="album-token"><%= @album.token %></div>